{# src/_includes/sections/back-cover.njk #}
<div class="page-break-blank" style="
  visibility: visible; 
  height: 297mm; 
  width: 210mm; 
  position: relative;
  break-after: avoid !important;
  page-break-after: avoid !important;
">
    <div style="
    position: absolute;
    width: 170mm;
    word-wrap: break-word; 
  ">
    <p style="
      margin: 0; 
      font-family: 'typewcond_regular', sans-serif; 
      font-size: 14pt; 
      line-height: 1.5em; 
    ">
      Fran and Zihe Zheng, Jemila, Jiang He Zhang(Hez) , Yumy, Yiho li, Hanbo Zhan, Mikhail & Savannah, Yiran Jiao, Sohyun, Ethan Zhang, Qiang Hei, Zhuzhu, Zihan, Wenqian Huang, Huayang Lei, Stathis, Jung, fioretta, Zhenzhen, Haiyi Xiao, Finka
    </p>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div style="
    position: absolute;
    bottom: 20mm;
    right: 10mm;
  ">
    <img src="/static/images/backcover/goldsmiths_logo.png" style="width: 200px; height: auto; display: block;" alt="">
    </div>
  </div>

  

</div>