{# src/_includes/sections/back-cover.njk #}
<div class="page-break-blank" style="
  visibility: visible; 
  height: 297mm; 
  width: 210mm; 
  position: relative;
  break-after: avoid !important;
  page-break-after: avoid !important;
">
   
<section style="page: cover; break-after: page;">
  <span>&nbsp;</span>
</section>
  
</div>