{% set chapters = collections.book | inFolder("category01") %}

<section id="category01" class="category{% if chapters[0].data.tocNested %} book-category{% endif %}">
 
  <h2 class="category-title" id="{{ chapters[0].data.categoryTitle }}">
  <span style="display: none;">{{ chapters[0].data.categoryTitle }}</span>
  </h2>
  
  <div class="full-width category-cover">
    <iframe src="https://editor.p5js.org/yairis11017/full/Nz77beFBV"></iframe>
  </div>
  <p>
  In this section, you will find some pieces regarding embodiment through creative technology.
<br><br>
Baudrillard referred to Trompe l’Oeil as a tactile promise that doesn’t follow through, drawing a comparison between this experience and that of death.
<br><br>
<i>So you are looking at a painting of a piece of paper and seeing its crease - yet being unable to reach out and crinkle it yourself. How might technology come into play with this form of dissonance?</i>
<br><br>
<i>So you are watching your body through a VR set, but it isn’t your body at all. Is there freedom in it? </i>
<br><br>
Following through on the promise of change, this section offers an examination of extending oneself and their somatic experience (embodied cognition) through multidisciplinary, multimedia experimentation and post-humanist shenanigans - not just cyborgs but not yet avatars. 
<br><br><br><br><br>

  </p>
  {% for chapter in chapters %}
  <article id="{{ chapter | fileId }}" class="chapter">
    {{ chapter.templateContent | safe }}
  </article>
  {% endfor %}
</section>


