{% set chapters = collections.book | inFolder("conclusion") %}
<section id="conclusion" class="category{% if chapters[0].data.tocNested %} book-category{% endif %}">
  
  {# Ucomment line below if you want to bring this title back #}
  {# <h2 class="category-title">{{ chapters[0].data.categoryTitle }}</h2> #}

  {% for chapter in chapters %}
  <article id="{{ chapter | fileId }}" class="chapter">
    {{ chapter.templateContent | safe }}
  </article>
  {% endfor %}
</section>
