<nav class="toc">
  <br>
  <h1 class="toc-title">Contents</h1>
  <br>
  <br>
  {% for section in collections.book | groupBySectionOrder %}
    {% if section.tocNested %}
      <br>
      <h4>{{ section.title }}</h4>
      
      {% for chapter in section.chapters %}
        {# Skip rendering if the chapter title is "Preface" or "Colophon" #}
        {% if chapter.data.title != "Preface" and chapter.data.title != "Colophon" %}
          <div style="margin-bottom: 5px;">
            <a href="#{{ chapter | fileId }}">{{ chapter.data.title }}<i>{{" "}}{{"/ "}}{{ chapter.data.name }}</i></a>
          </div>
        {% endif %}
      {% endfor %}
      <br>
    {% else %}

      {% for chapter in section.chapters %}
        {# Skip rendering if the chapter title is "Preface" or "Colophon" #}
        {% if chapter.data.title != "Preface" and chapter.data.title != "Colophon" %}
          <div style="margin-bottom: 5px;">
            <a href="#{{ chapter | fileId }}">{{ chapter.data.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</nav>