<nav class="toc">
  <h2 class="toc-title">Contents</h2>
  <ul>
    {% for section in collections.book | groupBySectionOrder %}
    {% if section.tocNested %}
    <li>
      {{ section.title }}
      <ul>
        {% for chapter in section.chapters %}
        <li><a href="#{{ chapter | fileId }}">{{ chapter.data.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% else %}
    {% for chapter in section.chapters %}
    <li><a href="#{{ chapter | fileId }}">{{ chapter.data.title }}</a></li>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
</nav>
