---
layout: book.njk
title: Critical Computational Research
---

<header>
  <h1 class="title">Critical Computational Research</h1>
  <p class="subtitle"> Volume 1: f0rm1ess</p>
</header>

{# Table of Contents #}
{% include "sections/toc.njk" %}

{# All Front Matter #}
{% include "sections/introduction.njk" %}

{# Categories #}
{% include "sections/category01.njk" %}
{% include "sections/category02.njk" %}
{% include "sections/category03.njk" %}


{# All back matter pages #}
{% include "sections/conclusion.njk" %}

