---
layout: book.njk
title: Critical Computational Research
---

<section style="
  margin: -14mm -20mm -20mm -20mm;
  width: 210mm;
  height: 297mm;
  
  background-image: url('/static/images/cover/cover.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
">


  <header>
    
  </header>
</section>


{# Table of Contents #}
{% include "sections/toc.njk" %}

{# All Front Matter #}
{% include "sections/introduction.njk" %}

{# Categories #}
{% include "sections/category01.njk" %}
{% include "sections/category02.njk" %}
{% include "sections/category03.njk" %}


{# All back matter pages #}
{% include "sections/conclusion.njk" %}

