---
layout: book.njk
title: Computational Arts Critical Papers 
---

<section style="page: cover; break-after: page;">
  <span>&nbsp;</span>
</section>


  <header>
    
  </header>
</section>

{# Innercover #}
<div class="page-break-blank" style="
  visibility: visible; 
  height: 297mm; 
  width: 210mm; 
  position: relative;
  break-after: avoid !important;
  page-break-after: avoid !important;
">
   
<section style="page: cover; break-after: page;">
  <span>&nbsp;</span>
</section>
  
</div>


{# All back matter pages #}
{% include "sections/conclusion.njk" %}

{# Table of Contents #}
{% include "sections/toc.njk" %}

{# All Front Matter #}
{% include "sections/introduction.njk" %}

{# Categories #}
{% include "sections/category01.njk" %}
{% include "sections/category01_hinge.njk" %}
{% include "sections/category02.njk" %}
{% include "sections/category02_hinge.njk" %}
{% include "sections/category03.njk" %}

{# Innercover #}
<div class="page-break-blank" style="
  visibility: visible; 
  height: 297mm; 
  width: 210mm; 
  position: relative;
  break-after: avoid !important;
  page-break-after: avoid !important;
">
   
<section style="page: cover; break-after: page;">
  <span>&nbsp;</span>
</section>
  
</div>
{# backcover #}
{% include "sections/back-cover.njk" %}

